*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", "Arial", monospace;
  font-weight: bold;
  font-weight: 500;
  font-weight: normal;
  overflow-x: hidden;
}
.container {
    max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
