.telementry {
  overflow-x: hidden;
  position: relative;
}
.telementry::before {
  content: "";
  position: absolute;
  top: 300px;
  left: calc(50% + 8px);
  width: 741px;
  height: 151px;
  z-index: 2;
  background-image: url("/images/vector-left.svg");
  background-size: 741px 151px;
  background-repeat: no-repeat;
}
.telementry::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 617px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("/images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}
.telementry__inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1106px;
  justify-content: space-between;
}
.telementry__main {
  max-width: 445px;
  width: 100%;
}
.telementry__main-heading {
  color: #495567;
  font-family: "Space Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.143px;
}
.telementry__main-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-top: 24px;
  margin-bottom: 40px;
}
.telementry__main-link {
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
  display: inline-block;
  background: #fcb72b;
  padding: 14px 45px;
  text-decoration: none;
  border: 3px solid transparent;
}
.telementry__main-link:hover {
  border: 3px solid #fcb72b;
  cursor: pointer;
  background-color: transparent;
  color: #fcb72b;
}
.telementry__inner-img {
  max-width: 445px;
  width: 100%;
  height: 445px;
}
@media only screen and (max-width: 768px) {
  .telementry {
    overflow-x: hidden;
  }
  .telementry__inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .telementry__inner-img {
    margin-bottom: 56px;
  }
  .telementry__main-heading {
    margin-bottom: 40px;
  }
  .telementry::before {
    left: calc(50% + -140px);
  }
}

// TELEFON //

@media only screen and (max-width: 440px) {
  .telementry {
    overflow-x: hidden;

    &::before {
      top: 165px;
      left: calc(50% - 158px);
    }

    &::after {
      content: none;
    }
  }

  .telementry__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }

  .telementry__main {
    max-width: 376px;
    text-align: center;
  }

  .telementry__main-heading {
    width: 376px;
    margin: 0 auto;
    color: #495567;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.429px;
  }

  .telementry__main-text {
    color: #939caa;
    width: 376px;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .telementry__inner-img {
    width: 376px;
    height: 376px;
    margin-bottom: 56px;
  }
}